@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap');

@import "tailwindcss/base";

/* interactivity using aria-state expanded */
.accordion dt { cursor: pointer; }
.accordion dd[aria-expanded=false] { opacity: 0; display: none; } /* hide using js */ 
.accordion dd[aria-expanded=true] { display: inherit; }

@media screen and (min-width: 640px) {
    a[aria-current=page] {
        position: relative;
    }

    a[aria-current=page]:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        bottom: -1px;
        background-color: white;
    }

    a.text-black[aria-current=page]:before {
        background-color: black;
    }
}

a.link:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.silhouette {
    width: 32rem;
}

.diagonal {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.6' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.point:after {
    background-color: #FFFFFF;
    border: 2px solid #000;
    border-radius: 50%;
    content: "";
    display: block;
    height: 21px;
    left: -12px;
    position: absolute;
    top: 0;
    width: 21px;
}
  
.sketch-0 {
    background-image: url(https://cdn.sketch.com/assets/pages/home-relaunch/feature-collaborate-bg@2x.png);
    background-color: #83d7cf;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}

.sketch-1 {
    background-image: url(https://cdn.sketch.com/assets/pages/home-relaunch/testimonial-bg-teal@2x.png);
    background-color: #83d7cf;
    background-size: cover;
    background-attachment: fixed;
}

.sketch-2 {
    background-image: url(https://cdn.sketch.com/assets/pages/home-relaunch/feature-design-systems-bg@2x.png);
    background-repeat: no-repeat;
    background-color: #fad266;
    background-position: bottom left;
    background-attachment: fixed;
}

.sketch-3 {
    background-image: url(https://cdn.sketch.com/assets/pages/home-relaunch/cta-bg@2x.png);
    background-size: cover;
    background-color: #fad266;
    background-attachment: fixed;
}

.sketch-4 {
    background-image: url(https://cdn.sketch.com/assets/pages/home-relaunch/testimonial-bg-yellow@2x.png);
    background-color: #f5a925;
    background-size: cover;
    background-attachment: fixed;
}

.sketch-5 {
    background-image: url(https://cdn.sketch.com/assets/pages/home-relaunch/bg-hero.png);
    background-size: cover;
    background-color: #ffb387;
    background-attachment: fixed;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    @variants responsive {
        .service {
            height: 640px;
        }
        .text-indent-sm {
            text-indent: 2.5rem;
        }

        .text-indent-md {
            text-indent: 3rem;
        }

        .text-indent-lg {
            text-indent: 3.5rem;
        }

        .w-landscape {
            width: 48rem;
        }

        .h-landscape {
            height: 34rem;
        }

        .w-portrait {
            width: 36rem;
        }

        .h-portrait {
            height: 40rem;
        }

        .h-min-md {
            min-height: 32rem;
        }

        .h-min-lg {
            min-height: 40rem;
        }
    }
}