@import "tailwindcss/base";

/* interactivity using aria-state expanded */
/* .accordion dt { cursor: pointer; } */
/* .accordion dd[aria-expanded=false] { opacity: 0; display: none; } */
/* .accordion dd[aria-expanded=true] { display: inherit; } */

::-webkit-scrollbar-track
{
	background-color: #fff;
    border-left: 1px solid black;
}

::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-thumb
{
    background-color: #000;
}

::selection {
    background: black;
    color: white;
}

a[aria-current=page], button[aria-selected=true] {
    position: relative;
}

a[aria-current=page]:before, button[aria-selected=true]:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: -1px;
    background-color: black;
}

.link:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@keyframes reveal {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.reveal {
    animation-name: reveal;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: forwards;
}

.point:after {
    background-color: #FFFFFF;
    border: 2px solid #000;
    border-radius: 50%;
    content: "";
    display: block;
    height: 21px;
    left: -12px;
    position: absolute;
    top: 0;
    width: 21px;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    .link-line {
        position: relative;
    }

    .link-line:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        bottom: -1px;
    }

    .link-white.link-line:before {
        background-color: #fff;
    }

    .link-black.link-line:before {
        background-color: #000;
    }

    @variants responsive {
        .hyphenate {
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;
        }

        .max-w-92 {
            max-width: 92%;
        }

        .max-w-94 {
            max-width: 94%;
        }

        .text-indent-sm {
            text-indent: 2.5rem;
        }

        .text-indent-md {
            text-indent: 3rem;
        }

        .text-indent-lg {
            text-indent: 3.5rem;
        }

        .h-min-md {
            min-height: 32rem;
        }

        .h-min-lg {
            min-height: 40rem;
        }
    }
}